<div class="container">
    <div class="header">
        <div class="hero">

        </div>
    </div>
    <div class="main-section">
        <h1>My main content!</h1>
        <p>Am I using Bulma yet?</p>
    </div>



    <button class="button">Click me!</button>

</div>