<div class="footer">
    <p>&copy;2020 All content, design by <a href="mailto:hello@jnutterdev.com">jnutterdev</a></p>
    <a href="https://github.com/jnutterdev"><img src="img/github.svg" alt="jnutterdev on Github.com" height="20" width="20" /></a>

</div>


</body>

</html>