/* HEADER STYLES */

.navbar-item img {
    width: 50px;
    height: auto;
}

.spacer {
    margin-left: 12px;
}


/* FOOTER STYLES */

.footer {
    display: flex;
    color: white;
    background-color: dimgray;
}

.footer a {
    color: yellow;
}

.footer a:hover {
    color: yellowgreen;
}

.footer img {
    margin-left: 10px;
    /* transition: width 2s, height 2s, transform 1s; */
}

.footer img:hover {
    opacity: 0.5;
}