.footer {
    display: flex;
    color: white;
    background-color: dimgray;
}

.footer a {
    color: yellow;
}

.footer a:hover {
    color: yellowgreen;
}

.footer img {
    margin-left: 10px;
    /* transition: width 2s, height 2s, transform 1s; */
}

.footer img:hover {
    width: 40px;
    height: 40px;
    transition: width 1s;
}